<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Comment Form</title>
  </head>
  <body>
    <div class="container">
      <form action="/notes/<%=index%>/comment" method="GET">
        <div class="row">
          <div class="col-4">Species</div>
          <div class="col-6"><%=record[0].name%></div>
        </div>
        <div class="row">
          <div class="col-4">Date</div>
          <div class="col-6"><%=record[0].date%></div>
        </div>
        <div class="row">
          <div class="col-4">Weather</div>
          <div class="col-6"><%=record[0].weather%></div>
        </div>
        <div class="row">
          <div class="col-4">Appearance</div>
          <div class="col-6"><%=record[0].appearance%></div>
        </div>
        <div>
          <label for="date">Comment</label>
          <%record.forEach((comment)=>{%>
          <div class="col-6"><%=comment.comment%></div>
          <%})%>
        </div>
        <input type="submit" value="Add A Comment" />
      </form>
    </div>
  </body>
</html>
