    <%- include ('partials/head') %>
    <title>Bird Watching Main Page</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(44, 163, 254)">
  <a class="navbar-brand" href="/"><i class="fas fa-dove" style="color: lightslategrey"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home </a>
      <a class="nav-item nav-link" href="#">Entry form</a>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-outline-dark btn btn-md">Logout</button>
      </form>
      
    </div>
  </div>
</nav>
   
      
      <div class="container landing-page"> 
     <h3>Bird watching records</h3>
      <br>
        <div class="table-responsive">
          <table class="table">
          
          <tr><th>Date</th>
            <th class="d-none d-sm-table-cell">Behaviour</th>
            <th class="d-none d-sm-table-cell">Flock size</th>
            <th>Species</th>
            <th id="delete-heading">Delete</th>
          </tr>
          <tr>
            <% for (let i = 0; i < allNotes.length; i += 1) { %> 
            <td><a href="/note/<%= allNotes[i].id %>" style="color: lightgray"><%= allNotes[i].date %></a></td>
            <td class="d-none d-sm-table-cell"><%= allNotes[i].behaviour %></td>
            <td class="d-none d-sm-table-cell"><%= allNotes[i].flock_size %></td>
            <td><%= allNotes[i].name %></td>
            <td><form id="delete-button" action="/note/<%= allNotes[i].id %>/delete?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-outline" type="submit"><i class="fa fa-trash-alt"></i></button>
        </form></td>
        </tr>
              <% } %>
          </tr>
        </table>
        </div>

      </div>
    <%- include ('partials/footer') %>