
    <%- include ('partials/head') %>
    <title>Description of bird</title>
  </head>
  <body id="single-note-body">

    <div class="container" id="single-note-text">
    <% Object.keys(eachNote).forEach((inputField) => { %>
      <% if (inputField === 'email') { %>
      <div class="row" >  
      <div class="col-md-2"> <%= 'author' %>:</div>
      <div class="col-md-10"> <%= eachNote[inputField] %></div>
      </div>
      <br>
      <% } else { %>
          <div class="row" >  
      <div class="col-md-2"> <%= inputField %>:</div>
      <div class="col-md-10"> <%= eachNote[inputField] %></div>
      </div>
      <br>
      <% }; %>
      <% }); %>
      </div>
    <%- include ('partials/footer') %>