<%- include('../partials/header.ejs') %> <% if (page === 'home') { %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><h1><%= page %></h1></h1>
    <p class="lead"><%= desc %></p>
  </div>
</div>
// END OF HOME PAGE <% } else { %>
<h1><%= page %></h1>
<% } %> <%- include('../partials/footer.ejs') %>
